.petition-hr-seprator {
    margin-top: 15px; 
    margin-bottom: 15px;
}

.petition-margin-top {
    margin-top: 10px;
}

.counter-title {
    padding-top: 0;
}

.counter-margin {
    padding-top: 25px;
}

.counter-panel {
    margin-bottom: 0;
}

.counter-margin-body {
    padding-top: 5px;
}